html {
	position: relative;
	min-height: 100%;
}

.logo_s img{
	margin: 1em auto 2em;
	display: block;
}

.content, .logo {
	max-width: 650px;
	margin: 0 auto;
}

.logo img {
	display: block;
	margin: 0 auto;
	height: auto;
	margin-bottom: 2em;
	max-width: 100%;
}

.nappy img {
	display: block;
	margin: 0 auto;
	width: 87%;
	height: auto;
	image-rendering: -moz-pixelated;         /* Firefox */
	image-rendering:   -o-pixelated;         /* Opera */
	image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
	image-rendering: pixelated;
}

body {
	font-family: "Courier New", Courier, monospace;
	font-size: 1.1em;
	margin-bottom: 3em;
}

.updates a {
	font-weight: bold;
	text-decoration: none;
	color: #000;
	border-bottom: 3px solid #ADFF2F;
	line-height: 0.9em;
	display: inline-block;
}

.updates a:hover {
	background: greenyellow;
}

span.date {
	display: inline-block;
	float: right;
	margin-right: 1em;
	font-style: italic;
	font-weight: bold;
	color: gray;
	background: greenyellow;
}

img.feature {
	display: block;
	width: 100%;
//	margin-bottom: -10%;
}

img.smallC {
	position: absolute;
	top: 0;
	left:0;
	width: 90px;
	height: auto;
}

.content img {
	display: block;
	margin: 0 auto;
	height: auto;
	max-width: 80%;
}

.portrait img {
}

.title {
	margin-bottom: 1.5em;
}

.notes {
	font-style: italic;
	color: gray;
	margin: 1em;
}

em {
	font-style: italic;
}

p {
	margin-bottom: 1em;
}

h1 {
	text-align: center;
	font-size: 2em;
	font-weight: bold;
}

h2 {
	font-weight: bold;
	font-size: 1.25em;
	margin-bottom: 1em;
	font-style: italic;
}

.sub {
	text-align: center;
	color: #BABABA;
	font-size: 1em;
}

h3 {
	text-align: center;
	margin: 0 auto;
	font-weight: bold;
	font-size: 1.6em;
}

.digest {
	font-style: italic;
	margin-bottom: 1em;
}

figcaption {
	font-style: italic;
	font-weight: bold;
	color: greenyellow;
	text-align: center;
	margin-bottom: 1em;
}

.buen {
	color: #BABABA;
}

input,select,textarea,option,button {
	font-family:inherit;font-size: 1em;
	margin: .2em;
	padding: .25em;
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	border: 2px solid greenyellow;
}

header {
	margin-bottom: 15px;
}

table {
	margin: 0 auto;
}

/*
.bottom {
	width: 100%;
	text-align: center;
}
	*/

.tiny {
	color: #C0C0C0;
	font-size: .7em;
}

.bottom span {
	display: block;
	text-align: center;
	margin-top: 2em;
	color: #C0C0C0;
}

footer {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 3em;
	width: 100%;
}
