html {
	position: relative;
	min-height: 100%;
}

.fresh {
    position: absolute;
	font-weight: bold;
    background-color: rgba(169,255,34,.75);
    width: 140px;
    padding: .1em;
    text-align: center;
    transform: rotate(-20deg);
    top: 29px;
    left: 5px;
}

span.hour {
	color: gray;
}

.logo_s img{
	margin: 1em auto 2em;
	display: block;
}

div.nibble {
    width: 100%;
    border: thick solid black;
    box-shadow: -10px 10px greenyellow;
    outline: white dotted thick;
    margin-bottom: 1em;
    position: relative;
}

.nibble div.title {
    display: block;
    float: left;
    margin-bottom: 1em;
    margin-left: 1em;
}

.nibble h2 {
    text-shadow: -3px 3px lightgray;
    font-size: 2.5em;
    margin-bottom: 0;
}

.nibble h3 {
    font-size: 1em;
    color: gray;
}

.nibble p {
    clear: both;
    padding: 0 1em;
}

.content, .logo {
	max-width: 650px;
	margin: 0 auto;
}

.logo img {
	display: block;
	margin: 0 auto;
	height: auto;
	margin-bottom: 2em;
	max-width: 100%;
}

.nappy img {
	display: block;
	margin: 0 auto;
	width: 87%;
	height: auto;
	image-rendering: -moz-pixelated;         /* Firefox */
	image-rendering:   -o-pixelated;         /* Opera */
	image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
	image-rendering: pixelated;
}

body {
	font-family: "Courier New", Courier, monospace;
	font-size: 1.1em;
	margin-bottom: 3em;
}

a {
	text-decoration: none;
	color: #000;
}

.update a {
	display: block;
}

.ads p {
    background-color: gray;
    margin-bottom: 0;
    padding: 1em;
    font-style: italic;
    font-size: 1.05em;
    color: white;
    text-shadow: 1px 1px 4px black;
}

span.ad_src {
    text-transform: uppercase;
    font-size: larger;
    text-shadow: 1px 1px 1px greenyellow;
}

/*
.updates a {
	font-weight: bold;
	text-decoration: none;
	color: #000;
	border-bottom: 3px solid #ADFF2F;
	line-height: 0.9em;
	display: inline-block;
	padding-top: 3px;
}

.updates a:hover {
	background: greenyellow;
	border-top: 3px solid #ADFF2F;
	padding-top: 0;
}
*/

span.date {
    font-style: italic;
    font-size: 1.5em;
    color: gray;
    background: greenyellow;
    position: absolute;
    top: 0;
    right: 0;
    padding: .2em;
}

img.feature {
	display: block;
	width: 100%;
//	margin-bottom: -10%;
}

img.smallC {
	position: absolute;
	top: 0;
	left:0;
	width: 90px;
	height: auto;
}

.content img {
	display: block;
	margin: 0 auto;
	height: auto;
	max-width: 80%;
}

.portrait img {
}

blockquote {
	margin-bottom: 1em;
	text-align: center;
	font-style: italic;
	color: gray;
	font-size: x-large;
	border-left: 20px solid greenyellow;
	border-right: 20px solid greenyellow;
}

div.wip {
	width: 100px;
	z-index: -100;
	position: absolute;
	right: 2%;
	color: greenyellow;
	border: 5px solid greenyellow;
	border-radius: 3em;
	padding: .6em;
}

.title {
	margin-bottom: 1.5em;
}

.notes {
	font-style: italic;
	color: gray;
	margin: 1em;
}

.center {
	text-align: center;
}

em {
	font-style: italic;
}

p {
	margin-bottom: 1em;
}

h1 {
	text-align: center;
	font-size: 2em;
	font-weight: bold;
}

h2 {
	font-weight: bold;
	font-size: 1.25em;
	margin-bottom: 1em;
	font-style: italic;
}

.sub {
	text-align: center;
	color: #BABABA;
	font-size: 1em;
}

h3 {
	text-align: center;
	margin: 0 auto;
	font-weight: bold;
	font-size: 1.6em;
}

.digest {
	font-style: italic;
	margin-bottom: 1em;
}

figcaption {
	font-style: italic;
	font-weight: bold;
	color: greenyellow;
	text-align: center;
	margin-bottom: 1em;
}

.buen {
	color: #BABABA;
}

input,select,textarea,option,button {
	font-family:inherit;font-size: 1em;
	margin: .2em;
	padding: .25em;
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	border: 2px solid greenyellow;
}

header {
	margin-bottom: 15px;
}

table {
	margin: 0 auto;
}

/*
.bottom {
	width: 100%;
	text-align: center;
}
	*/

.tiny {
	color: #C0C0C0;
	font-size: .7em;
}

.bottom span {
	display: block;
	text-align: center;
	margin-top: 2em;
	color: #C0C0C0;
}

footer {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 3em;
	width: 100%;
}

sup {
	vertical-align: super;
	font-size: .75em;
}
